<div class="center-container">
  <%= form_with model: @team, local: true do |form| %>
    <% if @team.errors && @team.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@team.errors.count, "error") %> prohibited
          this Team from being saved:
        </h2>
        <ul>
          <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :manager_id, 'Select Manager' %><br>
      <%= form.collection_select :manager_id, [OpenStruct.new(id: nil, name: "No one")] + Employee.where('team_id IS NULL OR team_id = ?', @team.id), :id, :name, { prompt: 'Select Manager' }, { value_method: :id } %>
    </p>

    <p>
      <%= form.label 'Select Members' %><br>
      <% employees = Employee.where('team_id IS NULL OR team_id = ?', @team.id) %>
      <% if employees.any? %>
        <%= form.collection_check_boxes :employee_ids, employees, :id, :name do |cb| %>
          <%= cb.check_box %>
          <%= cb.label %><br>
        <% end %>
      <% else %>
        <p class="no-employee">No employees available.</p>
      <% end %>
    </p>

    <p class="submit-button">
      <%= form.submit %>
    </p> 
  <% end %>
</div>


   <script>
    
      var initialEmployeeList = <%= raw Employee.where('team_id IS NULL OR team_id = ?', @team.id).to_json %>;

      var managerSelect = document.getElementById('team_manager_id');
      var employeeCheckboxes = document.querySelectorAll('[name="team[employee_ids][]"]');
      document.querySelectorAll('.add-team').forEach(function(element) {
        element.style.display = 'none';
      });


      managerSelect.addEventListener('change', function () {
        
        var managerId = parseInt(this.value);

        employeeCheckboxes.forEach(function (checkbox) {
          var employeeId = parseInt(checkbox.value);
          checkbox.disabled = (employeeId === managerId);
        });
      });

      
      if(managerSelect.value != ""){
          var managerId = parseInt(managerSelect.value);

          employeeCheckboxes.forEach(function (checkbox) {
            var employeeId = parseInt(checkbox.value);
            checkbox.disabled = (employeeId === managerId);
          });
      }


  </script>
