<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:100px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
</style>
<%= render 'header'%>
<div class="main-container">
  <% @teams.each do |team| %>
    <a href="<%= team_path(team) %>" class="team-link">
      <div class="team-container">
        <div class="team-details">
          <div class="detail">
            <strong>Name:</strong> <%= team.name %>
          </div>
          <div class="detail">
            <strong>Manager:</strong>
            <% if team.manager %>
              <%= team.manager.name %>
            <% else %>
              Not assigned
            <% end %>
          </div>
        </div>
        <div class="actions">
          <%= link_to edit_team_path(team),
            class: "bi bi-pencil-square" do %>
          <% end %>
          <%= link_to team_path(team),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "bi bi-trash3-fill" do %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>

