<div class="center-container1">
  <div class="data-container">
  <p>
    <strong>Name:</strong>
    <%= @employee.name.capitalize %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @employee.address %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= @employee.mobile %>
  </p>

  <% if @employee.team.present? %>
    <p>
      <strong>Team:</strong>
      <%= @employee.team.name.capitalize %>
    </p>

    <% if @employee.is_manager? %>
      <p>
        <strong>Role:</strong> He/She is the manager of this team 
      </p>
    <% else %>
      <p>
        <strong>Manager:</strong> 
        <% if @employee.team.manager %>
          <%= @employee.team.manager.name.capitalize %>
        <% else %>
          Not assigned
        <% end %>
      </p>
    <% end %>
  <% else %>
    <p>
      <strong>Team:</strong> haven't been assigned to a team yet.
    </p>
  <% end %>
  <% if is_admin? %>
      <%= link_to edit_employee_path(@employee),
        class: "bi bi-pencil-square button-edit-top" do %>
      <% end %>
  <% end %>
 </div>
 </div>


<script>
  document.querySelectorAll('.employee').forEach(function(element) {
        element.style.display = 'block';
  });

  document.querySelectorAll('.employee-nav').forEach(function(element) {
        element.className += ' active'
  });
</script>
