<div class="index-container">
<div class="center-container1">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h2 class="h2_container">Forgot your Password?</h2>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors.any? && resource.errors[:email].any? %>
          <div id="error_explanation">
            <ul>
                <li><%= "Email " + resource.errors[:email][0] %></li>
            </ul>
          </div>
    <% end %>
  </p>

  <div class="submit-button">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
</div>
</div>