<div class="index-container">
<div class="center-container2">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="h2_container">Sign in</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p>
    <%= f.label :email , 'Email <span class="required">*</span>'.html_safe %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors.any? && resource.errors[:email].any? %>
          <div id="error_explanation">
            <ul>
                <li><%= "Email " + resource.errors[:email][0] %></li>
            </ul>
          </div>
    <% end %>
  </p>

  <p class="field">
    <%= f.label :password , 'Password <span class="required">*</span>'.html_safe %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
    <% if resource.errors.any? && resource.errors[:password].any? %>
          <div id="error_explanation">
            <ul>
                <li><%= "Password " + resource.errors[:password][0] %></li>
            </ul>
          </div>
    <% end %>
  </p>


  <div class="submit-button">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
</div>
</div>
<script>
  current_route = "<%= request.path %>"

  if(current_route.match("admin")){
    document.querySelectorAll('.signin1').forEach(function(element) {
          element.className += ' active'
    });
  }
  else{
    document.querySelectorAll('.signin').forEach(function(element) {
          element.className += ' active'
    });
  }
</script>